body::after {
    content: "";
        position: absolute;
        width: 0;
        height: 0;
        background:
            url("https://raw.githubusercontent.com/LucaJMazz/LichessStylusCss/refs/heads/main/assets/bkm.svg"),
            url("https://raw.githubusercontent.com/LucaJMazz/LichessStylusCss/refs/heads/main/assets/wkm.svg");
    }

/* Remove default colors */
:root {
    --cg-board-light: transparent !important;
    --cg-board-dark: transparent !important;
    --selection-colour: rgba(94, 200, 41, .44);
}

/* Apply custom board texture */
.my-ext-enabled .is2d cg-board::before {
    background-image: url('https://raw.githubusercontent.com/LucaJMazz/LichessStylusCss/refs/heads/main/assets/beveledboard.png') !important;
    outline: 0.6vw outset #a08e66 !important;
    border-radius: 0px !important;
}


/*  =========================
    Coordinate Fix
    ========================= */

.my-ext-enabled coords .coord-light {
    color: #625850 !important;

}

.my-ext-enabled coords .coord-dark {
    color: #B7B0AB !important;

}

.my-ext-enabled .ranks {
    transform: translate(-.5rem, 0%) !important;
}

.my-ext-enabled .files {
    transform: translate(0%, -.5rem) !important;
}

/* =========================
    CUSTOM PIECES
========================= */


.my-ext-enabled piece {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.my-ext-enabled piece.dragging {
    cursor: grabbing !important;
}

.my-ext-enabled .is2d .king.black.mated {background-image: url("") !important;}
.my-ext-enabled .is2d .king.white.mated {background-image: url("") !important;}

.my-ext-enabled .is2d .king.white    { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wk.png") !important; }
.my-ext-enabled .is2d .queen.white   { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wq.png") !important; }
.my-ext-enabled .is2d .rook.white    { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wr.png") !important; }
.my-ext-enabled .is2d .bishop.white  { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wb.png") !important; }
.my-ext-enabled .is2d .knight.white  { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wn.png") !important; }
.my-ext-enabled .is2d .pawn.white    { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/wp.png") !important; }

.my-ext-enabled .is2d .king.black   { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/bk.png") !important; }
.my-ext-enabled .is2d .queen.black  { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/bq.png") !important; }
.my-ext-enabled .is2d .rook.black   { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/br.png") !important; }
.my-ext-enabled .is2d .bishop.black { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/bb.png") !important; }
.my-ext-enabled .is2d .knight.black { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/bn.png") !important; }
.my-ext-enabled .is2d .pawn.black   { background-image: url("https://raw.githubusercontent.com/LucaJMazz/LichessRavamped/bb60e5cf477b70ab5b8550a061f7f7c43fe21817/assets/CustomPieces/bp.png") !important; }


/* =========================
    CUSTOM CIRCLES (RIGHT CLICK)
========================= */

.my-ext-enabled .cg-shapes g circle {
    fill: #ff00005c !important;
    stroke: red !important;
    stroke-width: 0.07px !important;
}

.my-ext-enabled g line {
    opacity: 1 !important;
}


/* =========================
    Square Highlight Colours
========================= */
.my-ext-enabled :not(#promotion-choice)>square {
    --margin-sq: 11%;
    transition: background-color 0.2s ease 0s !important;

    top: .75% !important;
    left: .75% !important;

    height: var(--margin-sq) !important;
    width: var(--margin-sq) !important;

    border-radius: 1%;
}

.my-ext-enabled #promotion-choice square {
    transform: scale(0.92) !important;
}

.my-ext-enabled square.last-move {
    background-color: rgba(255, 191, 0, 0.25) !important;
    outline: .2rem solid rgba(255, 191, 0, .65) !important
}

.my-ext-enabled square.current-premove {
    background-color: rgba(46, 30, 117, .25) !important;
    outline: .2rem solid rgba(46, 30, 117, .65) !important
}

.my-ext-enabled square.selected {
    background-color: var(--selection-colour) !important;
    opacity: 0.7 !important;
}

.my-ext-enabled square.move-dest {
    background: radial-gradient(var(--selection-colour) 19%, rgba(41, 92, 17, .83) calc(19% + 1px), rgba(41, 92, 17, .83) 24%, rgba(0, 0, 0, 0) calc(24% + 1px)) !important;
}

.my-ext-enabled square.move-dest:hover {
    background: none !important;
    background-color: var(--selection-colour) !important;
}

.my-ext-enabled square.oc.move-dest {
    background: radial-gradient(transparent 0%, transparent 79%, var(--selection-colour) calc(80% + 1px)) !important;
}

.my-ext-enabled square.oc.move-dest:hover {
    background: none !important;
    background-color: var(--selection-colour) !important;
}

.my-ext-enabled square.check {
    background: none !important;
    background-color: rgba(255, 46, 46, .3) !important;
    outline: .2rem solid rgba(255, 46, 46, .65) !important

}


/*=======================
    Piece edits
=========================*/
.my-ext-enabled piece:not(.dragging) {
    transition: all cubic-bezier(.5,-0.1,0.3,1.2) 0.1s !important;
}

.my-ext-enabled square:hover+piece,
square:hover piece {
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}